.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
.App-link {
  color: #61dafb;
}
.chooseDate{
  width: 33%;
  margin: 0 auto;
  height:40px;
  font-size: 18px;
}
table td, thl{
  font-size: 18px;
  width: 100px;
}
label{
  font-size: 18px;
  width: 250px;
}
.btn0{
  margin: 20px;
}
